<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

  <h1>Käufer</h1>
  <form action="/seller" method="post">
    <input type="text" name="name" id="name">
    <button type="submit">test</button>
  </form>

  <h1>Offerten</h1>
  <form action="/offer" method="post">
    <input type="text" name="seller" id="seller">
    <input type="text" name="holz" id="holz">
    <input type="number" name="price" id="price">
    <button type="submit">test</button>
  </form>
</body>
</html>